n8n/facebook_monitor.json
{
  "name": "SocialEye — Facebook Page Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "a1000001-0000-0000-0000-000000000001",
      "name": "Every 1 Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 380],
      "notes": "Runs every hour. Change to every 30 minutes for faster updates."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.FB_PAGE_ID }}/posts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,message,story,created_time,from,likes.summary(true),comments.summary(true),shares"
            },
            {
              "name": "since",
              "value": "={{ Math.floor(Date.now() / 1000) - 3700 }}"
            },
            {
              "name": "limit",
              "value": "25"
            },
            {
              "name": "access_token",
              "value": "={{ $env.FB_PAGE_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000001-0000-0000-0000-000000000002",
      "name": "Get Page Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 380]
    },
    {
      "parameters": {
        "jsCode": "// Extract posts from Facebook Graph API response\nconst resp = $input.first().json;\n\n// If no posts or error, stop\nif (!resp.data || resp.data.length === 0) {\n  return [];\n}\n\n// Return one item per post (only posts with text content)\nreturn resp.data\n  .filter(p => p.message || p.story)\n  .map(p => ({ json: p }));"
      },
      "id": "a1000001-0000-0000-0000-000000000003",
      "name": "Extract Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SOCIALEYE_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "facebook"
            },
            {
              "name": "author",
              "value": "={{ $json.from?.name ?? 'N8TH Page' }}"
            },
            {
              "name": "content",
              "value": "={{ ($json.message ?? $json.story ?? '').substring(0, 2000) }}"
            },
            {
              "name": "url",
              "value": "={{ 'https://facebook.com/' + $json.id }}"
            },
            {
              "name": "likes",
              "value": "={{ $json.likes?.summary?.total_count ?? 0 }}"
            },
            {
              "name": "comments",
              "value": "={{ $json.comments?.summary?.total_count ?? 0 }}"
            },
            {
              "name": "shares",
              "value": "={{ $json.shares?.count ?? 0 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000001-0000-0000-0000-000000000004",
      "name": "Send Post to SocialEye",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 240]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v19.0/{{ $json.id }}/comments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,message,from,created_time,likes.summary(true)"
            },
            {
              "name": "limit",
              "value": "20"
            },
            {
              "name": "access_token",
              "value": "={{ $env.FB_PAGE_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000001-0000-0000-0000-000000000005",
      "name": "Get Post Comments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 520]
    },
    {
      "parameters": {
        "jsCode": "// Extract comments from Facebook Graph API response\nconst resp = $input.first().json;\nconst postId = $('Extract Posts').item.json.id;\n\n// No comments — skip\nif (!resp.data || resp.data.length === 0) {\n  return [];\n}\n\n// Return one item per comment, carrying post_id for URL\nreturn resp.data\n  .filter(c => c.message)\n  .map(c => ({ json: { ...c, _post_id: postId } }));"
      },
      "id": "a1000001-0000-0000-0000-000000000006",
      "name": "Extract Comments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SOCIALEYE_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "facebook"
            },
            {
              "name": "author",
              "value": "={{ $json.from?.name ?? 'Facebook User' }}"
            },
            {
              "name": "content",
              "value": "={{ ($json.message ?? '').substring(0, 2000) }}"
            },
            {
              "name": "url",
              "value": "={{ 'https://facebook.com/' + $json._post_id + '?comment_id=' + $json.id }}"
            },
            {
              "name": "likes",
              "value": "={{ $json.likes?.summary?.total_count ?? 0 }}"
            },
            {
              "name": "comments",
              "value": "0"
            },
            {
              "name": "shares",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000001-0000-0000-0000-000000000007",
      "name": "Send Comment to SocialEye",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 520]
    }
  ],
  "connections": {
    "Every 1 Hour": {
      "main": [
        [
          {
            "node": "Get Page Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Posts": {
      "main": [
        [
          {
            "node": "Extract Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Posts": {
      "main": [
        [
          {
            "node": "Send Post to SocialEye",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Post Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post Comments": {
      "main": [
        [
          {
            "node": "Extract Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Comments": {
      "main": [
        [
          {
            "node": "Send Comment to SocialEye",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "socialeye-n8n",
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
